.menu{
	float:left;
	font-size:24px;
	position:relative;
	width:50px;
	border:4px solid #888;
	z-index:999;
}
.menu:first-child{
	border-right:0;
}

.menu ul{
	position:absolute;
	background:#fff;
	top:30px;
	left:-10px;
	padding:0;
	margin:0;
}
.menu .submenu{
	display:none;
	height:35px;
	border:4px dashed blue;
	border-top:0;
	width:200px;
}


.menu:active{
	border-color: red;
}
.menu .submenu:first-child{
	border:4px dashed blue;
	background:#ddd;
}
.menu .submenu:nth-child(even){
	background:#ddd;
}

.menu .submenu:hover{
	background:yellow;
	cursor:pointer;
}
.menu:hover .submenu{
	display:block;
}


.tab-group{
	position:relative;
	height:80px;
}
.tab, .tab span{
	float:left;
}
ul{
}
.tab{
	float:left;
	border:1px solid red;
	border-left-width:0;
	cursor:pointer;
	background:#FFF;
	width:60px;
	height:24px;
	margin:0px;
	padding:0px;;
	font-size:14px;
	padding:4px;
	margin-top:2px;
}
.tab:first-child{
	border:1px solid red;
	border-left-width:1
}
.tab:last-child{
	border-right-width:40px;
	clear:right;
}
.tab:hover{
	background:yellow;
	font-weight:bold;
	margin-top:0px;
	padding-top:6px;
}
.tab ul{
	float:left;
	clear:both;
	margin:0px;
	padding:0px;
	position:absolute;
	top:26px;left:0px;
	border:1px solid blue;
	background:yellow;
	width:600px;height:50px;
	z-index:99;
	padding:24px;
	font-size:24px;
}
.tab:nth-child(even) ul{
	background:blue;
}
.tab:hover ul{
	z-index:100;
}



body{
	background:#ddd;
}
.input:focus{
	border:2px solid red;
}
.input:hover{
	background:yellow;
}
.input:active{
	border:3px dashed blue;
}
textarea{
	width:100%;
	height:500px;
}


