<div>
#if($testBoolean0)$testBoolean0#end
#if($testBoolean1)$testBoolean1#end
#if($testBoolean2)$testBoolean2#end
#if($testBoolean3)$testBoolean3#end
#if($testBoolean4)$testBoolean4#end
#if($testBoolean5)$testBoolean5#end
#if($testBoolean6)$testBoolean6#end
#if($testBoolean7)$testBoolean7#end
#if($testBoolean8)$testBoolean8#end
#if($testBoolean9)$testBoolean9#end
</div>