<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh_CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>JSISide模板引擎简介 </title>
<link rel="stylesheet" type="text/css" href="../styles/default.css" />
</head>
<body style="width:710px">
<h2>引擎简介</h2>
<iframe
    src='http://docs.google.com/EmbedSlideshow?docid=dc63qkvx_13g2g6x5dn&size=l'
    frameborder='0' width='700' height='559'></iframe>
    
<hr />
<a href="../">JSI项目首页</a>|
<a title="成功案例" href="../../jsidoc/">JSIDoc</a>
</body>
</html>
