<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh_CN" lang="zh_CN">
<head>
<title>XML Template简介</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../styles/default.css" />
</head>
<body>
<h2>XML Template简介</h2>
<p>Xml Template for
JavaScript，使用原生xml解析、和脚本求值运实现的xml模板引擎（js.xml.Template）。</p>
<p>自1.1alpha6之后自带的脚本API实时解析程序JSDoc，就是使用该技术开发的。</p>
<ul>
  <li><a href="../../jsidoc/">查看JSIDoc介绍</a></li>
</ul>
<hr />
</body>
</html>
